<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2018. Mark Soft - All Rights Reserved
  ~ Unauthorized copying of this file, via any medium is strictly prohibited
  ~ Proprietary and confidential
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="@string/nearby_api_key" />

        <activity android:name="com.mark.zumo.client.customer.DebugMainActivity"
            android:label="@string/debug_app_name">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name="com.mark.zumo.client.customer.p2p.P2pDebugActivity" />
    </application>
</manifest>
